.titulo{
    align-items: center;
    display: flex;
    text-align:center;
    margin: auto;
    width: 800px;
    height: 100px;
}

.cabeceraTabla{
    text-align: center;
    align-items: center;
    background-color: black;
    color: blanchedalmond;
    font-size: 35px;
}

.imagenEscudo{
    width: 50px;
    height: 50px;
}

.cuerpoTabla{
    text-align: center;
    align-items: center;
    font-size: 25px;
}

